<div class="main-container">
  <div class="search-bar-container">
    <div style="float: right" mat-paginator-container >
      <span class="btn">{{pageNo}} - {{pageNo}} of {{5}}</span>
      <button mat-icon-button="" (click)="_triggerAction('previous')" type="button"
        class="btn mat-focus-indicator mat-tooltip-trigger mat-paginator-navigation-previous mat-icon-button mat-button-base"
        ng-reflect-message="Previous page" [disabled]="pageNo==1" ng-reflect-disabled="false"
        ng-reflect-position="above" aria-label="Previous page"><span class="mat-button-wrapper"><svg
            viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
          </svg></span><span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"
          ng-reflect-disabled="false" ng-reflect-centered="true"
          ng-reflect-trigger="[object HTMLButtonElement]"></span><span
          class="mat-button-focus-overlay"></span></button>

      <button mat-icon-button="" (click)="_triggerAction('next')" type="button" [disabled]="pageNo==5"
        class="btn mat-focus-indicator mat-tooltip-trigger mat-paginator-navigation-next mat-icon-button mat-button-base"
        ng-reflect-message="Next page" ng-reflect-disabled="false" ng-reflect-position="above"
        aria-label="Next page"><span class="mat-button-wrapper"><svg viewBox="0 0 24 24" focusable="false"
            class="mat-paginator-icon">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
          </svg></span><span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"
          ng-reflect-disabled="false" ng-reflect-centered="true"
          ng-reflect-trigger="[object HTMLButtonElement]"></span><span
          class="mat-button-focus-overlay"></span></button>
    </div>


    <div class="field">
      <!-- <p class="control has-icons-left"> -->
        <div class="gridster-item-content">
        <textarea style="width:100%; height:100%;border-box:100%;-moz-border-box:100%;-webkit-border-box:100%"
         placeholder="Textarea" class="form-control" [(ngModel)]="data" (ngModelChange)="parallel_Update()" name="q4" rows="54"
          cols="60" required></textarea>
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <!-- </p> -->
    </div>
    <div>
      <div style="float: right" mat-paginator-container >
        <span class="btn">{{pageNo}} - {{pageNo}} of {{5}}</span>
        <button mat-icon-button="" (click)="_triggerAction('previous')" type="button"
          class="btn mat-focus-indicator mat-tooltip-trigger mat-paginator-navigation-previous mat-icon-button mat-button-base"
          ng-reflect-message="Previous page" [disabled]="pageNo==1" ng-reflect-disabled="false"
          ng-reflect-position="above" aria-label="Previous page"><span class="mat-button-wrapper"><svg
              viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon">
              <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
            </svg></span><span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"
            ng-reflect-disabled="false" ng-reflect-centered="true"
            ng-reflect-trigger="[object HTMLButtonElement]"></span><span
            class="mat-button-focus-overlay"></span></button>

        <button mat-icon-button="" (click)="_triggerAction('next')" type="button" [disabled]="pageNo==5"
          class="btn mat-focus-indicator mat-tooltip-trigger mat-paginator-navigation-next mat-icon-button mat-button-base"
          ng-reflect-message="Next page" ng-reflect-disabled="false" ng-reflect-position="above"
          aria-label="Next page"><span class="mat-button-wrapper"><svg viewBox="0 0 24 24" focusable="false"
              class="mat-paginator-icon">
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
            </svg></span><span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"
            ng-reflect-disabled="false" ng-reflect-centered="true"
            ng-reflect-trigger="[object HTMLButtonElement]"></span><span
            class="mat-button-focus-overlay"></span></button>
      </div>
    </div>
  </div>